body {
  font-family: 'Comfortaa', cursive;
}

.header {
  background: #f1f1f1;
}

.header-image {
  background-image: url('/images/henry-co--odUkx8C2gg-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% auto;
  min-height: 100%;
}

.caption-container {
  width: 100%;
}

.caption-container .caption {
  background-color: #FFFFFF;
  padding: 20px 60px;
  border-radius: 100px;
  transform: translateY(-50%);
}
.block-library {
  margin-top: 100px;
  background-color: #CCCCCC;
}
.card {
  border-radius: 20px;
}
.container-lines{
  margin-top: -30px;

}
.btn-pink, .btn-pink:hover {
  background-color: #FF6B8A;
  color: #fff;
}

.btn-white {
  background-color: white;
  margin: 30px; 
  border-radius: 10px; 
  border-color: white;
}
.block-title {
  background-color: white;
  border-radius: 100px;
  padding: 20px 60px;
  border-color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: -32px;   
}

.inline-header {
  margin-bottom: 20px;
}

.block-caption-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}

.block-caption {
  display: inline-block;
  border-radius: 2em;
  padding: 20px 60px;
  background-color: #fff;
  text-align: center;
}

.feature-row .feature {
  border-bottom: 1px solid #3e3e3e;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-section {
  position: relative;
  padding: 5em 0;
}

.block:nth-child(even) {
  background-color: #f1f1f1;
}

.block {
  position: relative;
}

#library .card .card-title {
  margin-bottom: 0;
}

.hoverable-card {
  cursor: pointer;
  transition: 0.2s;
  border-width: 0;
}

.hoverable-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transform: scale(1.01);
}

.carousel-inner > .carousel-item > img {
  width: 100%;
}